.sidebar-about h1 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.sidebar-about h1 a {
  text-decoration: none;
}
.sidebar-about img {
  border-radius: 50%;
  border: 2px solid #fff;
}
.fa{
  font-size: 30px;
}
.icons {
  margin-left: -20px;
  margin-bottom: 20px;
}
.icons a{
  padding-left: 20px;
  text-decoration: none;
}
@media (max-width: 48em) {
  .sidebar-about img {
    margin: 0 auto;
  }
}
